:root {
    --primary-color: rgb(76, 0, 255);
    --secondary-color: #000;
    --highlight-color: orange;
    --background-color: rgba(255, 165, 0, 0.5);
    --hover-color: #ff4500;
}

body {
    font-size: 35px;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

.top-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    background-color: var(--background-color);
    padding: 10px 20px;
}

.top-text .links a[href="#"] {
    color: var(--primary-color);
    font-weight: bold;
}

.links a:hover {
    color: var(--hover-color);
}

.logo {
    margin-right: 20px;
    width: 70px; /* фиксированная ширина */
    height: 70px; /* фиксированная высота */
}

header h1 {
    flex-grow: 1;
    text-align: center;
}

.links {
    display: flex;
    align-items: center;
    padding-top: 30px;
}

.links a {
    margin-left: 15px;
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 30px;
    padding-left: 30px;
}

.image,
.navigation,
.digital-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.job-list {
    padding-top: 30px;
    justify-content: space-around;
}

.job {
    text-align: center;
}

.experience {
    color: var(--highlight-color);
}



.highlight,
.highlight-number {
    color: var(--highlight-color);
}

.highlight-number {
    text-align: center;
}

