:root {
    --primary-color: rgb(76, 0, 255);
    --secondary-color: #000;
    --highlight-color: orange;
    --background-color: rgba(255, 165, 0, 0.5);
    --hover-color: #ff4500;
    --gradient-start: #ff7e5f;
    --gradient-end: #feb47b;
}

body {
    font-size: 35px;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

main{
    display:flex;
    align-items:flex-start;
    justify-content: space-around;

}

.top-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    background: linear-gradient(to right, var(--gradient-start), var(--gradient-end));
    padding: 10px 20px;
}

.top-text .links a[href="#"] {
    color: var(--primary-color);
    font-weight: bold;
}

.links a:hover {
    color: var(--hover-color);
}

.logo {
    margin-right: 20px;
    width: 70px; 
    height: 70px; 
}

header h1 {
    flex-grow: 1;
    text-align: center;
}

.links {
    display: flex;
    align-items: center;
    padding-top: 30px;
}

.links a {
    margin-left: 15px;
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 30px;
    padding-left: 30px;
}

.requirements{
    font-size: 50px;
    margin-top: 190px;
    margin-right: 200px;
    
}



.main-part{
    margin-left: 400px;
}

.image,
.navigation,
.digital-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vacancies-header{
    font-size: 65px;
    margin-top: 200px;
}

.job-list {
    
    
    border: 4px solid orange; 
    border-radius: 15px; 
    padding: 90px;
    
}

.requirements a {
    text-decoration: none; 
    color: blue; 
  }
  
  .requirements a:hover {
    color: var(--hover-color); 
  }

.job {
    text-align: center;
    padding-bottom: 40px;
    
}

.experience {
    color: var(--highlight-color);
}



.highlight,
.highlight-number {
    color: var(--highlight-color);
}

.highlight-number {
    text-align: center;
}

footer {
    margin-top: 640px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: var(--background-color);
    
}


/*--------------------------------- */
.links a, .bt-form {
    transition: all 0.3s ease-in-out;
}


@keyframes textAppearance {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.requirements h1, .job-list h2, .image-text h2, .image-text p {
    animation: textAppearance 0.8s ease-in-out;
}




.requirements a{
    transition: all 0.3s ease-in-out;
}


.logo {
    animation: logoSpin 5s linear infinite;
}




@keyframes logoSpin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}





@keyframes loadingIcon {
    0% {
        transform: scale(0.8);
        opacity: 0.5;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0.5;
    }
}

/*--------------------------------- */



@media (max-width: 1895px){
    main{
        flex-direction: column;
        align-items: center;
    }
}


@media (max-width: 1330px) {
    
    .main-part{
        margin-left: 250px;
    }
    



}


@media (max-width: 1200px) {
    
    .main-part{
        margin-left: 30px;
    }
    

    .requirements{
        font-size: 50px;
        margin-top: 70px;
        margin-right: 30px;
        
    }

}


@media (max-width: 768px) {

    body {
        font-size: 30px;
    }

    .requirements{
        font-size: 30px;
    }

    .top-text {
        
        align-items: flex-start;
    }

    .links {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 0;
    }



    .links a {
        font-size: 25px;
        margin-left: 0;
        padding-left: 18px;
        
    }
}