:root {
    --primary-color: rgb(76, 0, 255);
    --secondary-color: #333;
    --highlight-color: orange;
    --gradient-start: #ff7e5f;
    --gradient-end: #feb47b;
    --hover-color: #ff4500;
    --table-bg-color: #f9f9f9;
    --caption-bg-color: #333;
    --caption-text-color: white;
    --table-border-color: #ddd;
    --th-bg-color: #ddb70b;
    --th-text-color: white;
    --background-color: rgba(255, 165, 0, 0.5);
}

body {
    font-size: 35px;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

.top-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    background: linear-gradient(to right, var(--gradient-start), var(--gradient-end)); /* градиентный фон */
    padding: 10px 20px;
}

.top-text .links a[href="#"] {
    color: var(--primary-color);
    font-weight: bold;
}

.logo {
    margin-right: 20px;
    width: 70px; /* фиксированная ширина */
    height: 70px; /* фиксированная высота */
}

header h1 {
    flex-grow: 1;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: var(--secondary-color);
}

.links {
    display: flex;
    align-items: center;
    padding-top: 30px;
}

.links a {
    margin-left: 15px;
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 30px;
    padding-left: 30px;
}

.links a:hover {
    color: var(--hover-color);
}

.image,
.navigation,
.digital-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-text {
    padding-left: 30px;
}

.centered-table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 60%;
    font-family: cursive;
    background-color: var(--table-bg-color); /* светлая заливка для таблицы */
}

.centered-table caption {
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 30px;
    font-weight: bold;
    background-color: var(--caption-bg-color);
    color: var(--caption-text-color); /* белый текст для заголовка */
    padding: 10px;
}

.centered-table th,
.centered-table td {
    border: 2px solid var(--table-border-color); /* серые рамки */
    padding: 15px; /* отступы */
    text-align: left;
}

.centered-table th {
    background-color: var(--th-bg-color); /* зелёная заливка для заголовков */
    color: var(--th-text-color); /* белый текст для заголовков */
}

.job-list {
    padding-top: 30px;
    justify-content: space-around;
}

.job {
    text-align: center;
}

.highlight {
    color: var(--highlight-color);
    font-family: cursive;
    font-size: 63px;
}

.requirements {
    font-size: 25px;
}


footer {
    margin-top: 640px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: var(--background-color);
    
}



/*--------------------------------- */


.links a, .bt-form {
    transition: all 0.3s ease-in-out;
}


@keyframes textAppearance {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.image-text h2, .image-text p {
    animation: textAppearance 0.8s ease-in-out;
}


.image img {
    transition: transform 0.4s ease-in-out;
}

.image img:hover {
    transform: scale(1.1) rotate(3deg);
}


@keyframes logoSpin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



.bt-form:hover {
    transform: scale(1.1);
}




.logo {
    animation: logoSpin 5s linear infinite;
}

/*--------------------------------- */

@media (max-width: 1550px) {
    .image{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .image img{
        height: 250px;
        width: 550px;
        
        
    }
    
}


@media (max-width: 768px) {

    .highlight-t{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 50px;
        
    }

    
    .highlight{
        font-size:30px;
    }


    .highlight-text{
        color:#000;
        font-size: 20px;
        padding-left: 50px;
        
    }

    .image{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .image img{
        height: 250px;
        width: 550px;
        
        
    }

    .digital-hd{
        margin-left: 30px;
    }

    .top-text {
        
        align-items: flex-start;
    }

    

    .links {
        flex-direction:column;
        align-items: flex-start;
        padding-top: 0;
    }

    .links a {
        font-size: 25px;
        margin-left: 0;
        padding-left: 18px;
        
    }

    


    .services {
        flex-direction: row;
        align-items: flex-start;
        
    }

    .services a {
        padding-left: 20px;
        margin-bottom: 10px;
    }

    form {
        width: 90%;
    }

   

    body {
        font-size: 20px;
    }

    
    footer{
        padding-top: 30px;
        display:flex;
        flex-direction: column;
    }

}


@media (max-width: 600px) {
    .image img{
        height: 200px;
        width: 300px;
        
        
    }
}

